:root {
  --bg: #FFFBF0;
  --bgSoft: #ffe8a8;
  --text: black;
  --textSoft: black;
  --btn: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
}

#container {
  /* background: rgb(129, 129, 236); */
  width: 1536px;
  margin: auto;
  padding: 0 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 1536px) {
  #container {
    width: 1366px;
  }
}

@media (max-width: 1366px) {
  #container {
    width: 1280px;
  }
}

@media (max-width: 1280px) {
  #container {
    width: 1024px;
  }
}

@media (max-width: 1024px) {
  #container {
    width: 768px;
  }
}

@media (max-width: 768px) {
  #container {
    width: 640px;
  }
}

@media (max-width: 640px) {
  #container {
    width: 100%;
  }
}