#nav-container {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

.links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-link {
  min-width: 100px;
  padding: 10px;
  border-radius: 20px;
  font-weight: 500;
  text-align: center;
}

.active {
  background: #000;
  color: var(--bg);
  font-weight: 600;
}

.logout-button {
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  background: #000;
  color: var(--bg);
}


.menu-button, .mobile-links {
display: none;
}

@media (max-width: 768px) {
  .links {
    display: none!important;
  }

  .menu-button {
    display: block;
    cursor: pointer;
  }

  .mobile-links {
    position: absolute;
    top: 100px;
    right: 0;
    width: 50%;
    height: calc(100vh - 100px);
    background: var(--bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    /* overflow: hidden; */
    /* transition: height 0.5s ease-in-out; */
  }
}